# Server Configuration
PORT_GATE=5000
PORT_SLOT=5001

# Parking Configuration
HOURLY_RATE=10000

# WiFi Configuration (Copy các giá trị này sang config.h cho ESP32)
WIFI_SSID=YOUR_WIFI_SSID
WIFI_PASS=YOUR_WIFI_PASSWORD
SERVER_IP=YOUR_SERVER_IP
AUTH_TOKEN=YOUR_SECRET_TOKEN
