# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Parking Data, Logs & SSL
BAIDOXE_OPTIMIZED/logs/
BAIDOXE_SSL/logs/
*.log
parking_data.json
.env
*.crt
*.key


# Arduino / IDE
build/
libraries/
.vscode/

# OS
.DS_Store
Thumbs.db
